@{
    ViewData["Title"] = "Home Page";
}


    <script>
window.onload = function () {
 
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true ,
	title: {
		text: "İlaç Kutusu ile Kazanılan Miktar"
	},
	axisX: {
		valueFormatString: "MMM"
	},
	axisY: {
		title: "Satış",
		prefix: "₺"
	},
	data: [{
		type: "spline",
		xValueType: "dateTime",
		xValueFormatString: "MMM",
		yValueFormatString: "$#,###",					
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();
 
}
</script>


<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div data-kt-place="true" data-kt-place-mode="prepend" data-kt-place-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">
                İlaç Kutusu
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
                <!--end::Separator-->
                <!--begin::Description-->
                <small class="text-muted fs-7 fw-bold my-1 ms-1">#</small>
                <!--end::Description-->
            </h1>
            <!--end::Title-->
        </div>
        <!--end::Page title-->

    </div>
    <!--end::Container-->
</div>
<!--end::Toolbar-->
<!--begin::Post-->

<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Row-->
        <div class="row gy-5 g-xl-8">
            <!--begin::Col-->
            <div class="col-xxl-12">
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>	
            </div>
            <!--end::Col-->

        </div>
          <div class="row gy-5 g-xl-8">
               <div class="col-xxl-12">
                <img alt="Logo" src="/assets/media/logos/anamsayfamlogom.png" style="height:70vh!important;">
            </div>
              </div>
        <!--end::Row-->
        <!--end::Container-->
    </div>
</div>
<!--end::Post-->
